.springbox{
/* display: flexbox; */
justify-content: center;
align-items: center;

}
.changing{
font-weight: 700;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttons button{



}
