.dark-mode {
  background-color: #333;
  color: #fff;

}

/* .dark-mode-button:hover {
  background-color: #ddd;
}

.dark-mode-button:focus {
  outline: none;
}

.dark-mode-button.dark {
  background-color: #333;
  color: #eee;
  border-color: #eee;
}

.dark-mode-button.dark:hover {
  background-color: #444;
} */


