
.nav {
  display: flex;
  background-color: #6e6565;
  padding: 1px;
}

.navbar-item {
  position: relative;
  margin: 0 20px;
  padding: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.navbar-item:hover {
  background-color: #555;
}

.navbar-dropdown {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
  flex-direction: column;
  border: 1px solid #555;
}

.navbar-item:hover .navbar-dropdown {
  display: flex;
}

.navbar-dropdown-item {
  padding: 10px;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid #555;
}

.navbar-dropdown-item:last-child {
  border-bottom: none;
}

.navbar-dropdown-item:hover {
  background-color: #555;
}


/* 

.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar-item {
  margin-right: 20px;
}

.title {
  text-align: left;
  margin-bottom: 20px;
}

.title h2 {
  margin: 0;
  font-size: 20px;
  color: #f0f0f0;
}

.title-list {
  list-style-type: none;
  padding: 0;
}

.child {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
}

.child:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.child:last-child {
  margin-right: 0;
} */
