.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
  }
  
  .product:hover {
    transform: scale(1.05);
  }
  
  .product h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    justify-content: center; 
    align-items: center;    
    
  }
  
  .product p {
    font-size: 1em;
    color: #666;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  